body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1f2937;
  margin: 1px 70px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header-link {
  font-size: 8px;
  display: flex;
  gap: 10px;
}

.header-image {
  height: 100px;
}

.logo2 {
  height: 100px;
}

.s2 {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gap {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  background-color: #3882f6;
  border-radius: 5px;
  color: #ffffff;
}
